body{
    margin: 0;
    // position: fixed;
}

.allnotes{
    display: flex;
    flex-direction: row;
}


.note-index-line{
    background-color:lightgrey;
    height: 1px;
    border: none;
    // position: fixed;
}

.note-index{
    // margin-top: -7px;
    list-style: none;
    // padding-left: 7px;
    overflow-y: scroll;
    height: 91vh;
    width:252px;
    // position: relative;
}


.allnotes-create-form{
    width: 68vw;

}

.note-body{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    padding: 4px;
}

.create-note-main{
    width: 69vw;
    // height: 40px;
}

.quill-editor {
    width: 100%;
    height: calcl(100vh-30);
}

.note-editor{
    width: 100%;
    height: 90vh
}

.note-btn{
    z-index:1;
    cursor: pointer;
    background-color: rgb(0,168,45);
    color: white;
    border-style: none;
    // padding: 20px
}

.notebook-title-create{
    color: lightgrey;
}

.create-head{
   display: flex;
    justify-content: flex-start;
}

.create-head > button{
    margin-right:10px;
}

.header-title{
    width: 40%;
    // font-weight: 700;
    font-size: 30px;
    border:none;
    padding: 10px;
    &:clicked{
        border:none;
    }
}

.fas.fa-trash{
    color: black;
    outline: none;
    &:active{
        outline:none;
    }
}

.delete-btn{
    background:none;
    border: none;
    z-index: 3;
    margin-left: 215px;
    padding-bottom: 5px; 
    &:hover{
        cursor: pointer;
    }
    &:active{
        border: none;
        outline: none;
    }

}

.note-header{
    top: 0;
    padding-left: 7px;
    max-width: 252px;
    height: 100vh;
    // background-color: rgb(248,248,248);
    // position: sticky;
    z-index: 100;
}

.allnotes{
    margin: 0;
    position: relative;
    // padding:3px
}

.quill.quill-editor{
    height: 100vh;
    // overflow-y: scroll;
}


.note-index-container{
    padding-left: 3px;
    max-width: 252px;
    background-color: rgb(248,248,248);
    height:100vh;
    border: 1px solid lightgrey;
}


::-webkit-scrollbar {
  width: 8px;
}

// ::-webkit-scrollbar-track {
//   background: darkslategrey;
// }

::-webkit-scrollbar-thumb {
  background: #black;
  max-height: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ind-note:hover{
    background-color: rgb(255,255,255);
    cursor: pointer;
}

.ind-note{
    height: 110px;
    width: 245px;
    margin-left: -38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;

}

.note-link{
    z-index: 5;
    text-decoration: none;
    color: black;
}

.new-header{
    // background-color:pink;
    // z-index: 99;
    height: 50px;
}
.new-footer{
    // background-color:pink;
    border: 2px solid black;
    // display
    z-index: 99;
    width: 68vw;
    height: 50px;
    display:flex;
    justify-content: flex-end;
}

.note-form{
    height: auto
}

.header-buttons{
    display: flex;
    justify-content: space-between;
    width:68vw;
}

input[type="text"], textarea, select { 
    outline: none;
}

.none{
}

.note-btn.note-edits{
    background: rgba(89, 196, 89, 0.9);
    // border-radius: 6px;
}

.note-btn.create-btn{
    font-size: 18px;
    outline: none;
    border-radius: 10px;

}

.not-saved{
    color:rgb(80, 17, 17);
}