.mainpage{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.inner-sidebar{
    height: 100vh;
    width: 220px;
    background-color: rgb(248,248,248);
}

.ind-note:hover{
    background-color: rgb(255,255,255);
    cursor: pointer;
}

.ind-note{
    height: 110px;
    width: 124.3%;
    margin-left: -38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;

}

.note-index{
    list-style: none;
}
.create-note-main{
    display: flex;
}

.note-count{
    color: grey;
    font-size: 11px;
}

.note-index-line{
    background-color:lightgray;
    height: 1px;
    border: none;
}

.date{
    font-size: 11px;
    color: grey;
    // margin: 0;
}

.note-index{
    margin-top: -7px;
}

.note-body{
    color: grey;
    margin-top: -15px
}

.note-index-container{
    padding-left: 12px;
}


.editor{
    display: inline-block;
    // flex: left;
}

.notebook-full-index{
    padding-left: 12px;
    display: flex;
    // flex-direction: row;
}

.notebooks-index-line{
    background-color:lightgray;
    height: 1px;
    border: none;

}

.notebook-list{
    list-style: none;
}

.create-note-index{
    margin-left: 40px;
}

.notebook{
    height: 110px;
    width: 120px;
    margin-left: -38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px lightgrey solid;
}

.notebook:hover{
    background-color: lightgrey;
    cursor: pointer;
}