.main-top-level{

    //all default sizings

    display: flex;
    flex-direction: column;
}


.sidebar{

    border: 1px solid black;
    width: 300px;
    height: 700px;
    background-color: orange;

}


.inner-sidebar{
    border: 1px solid black;
    width: 300px;
    height: 700px;
    background-color: purple;
}

.notes-show{
    border: 1px solid black;
    width: 300px;
    height: 700px;
    background-color: lightyellow;


}