.homepage{
    display: flex;
    flex-direction: row;
}

.user-info{
    font-size: 20px;
}

.sidebar{
    background-color: black;
    height: 100vh;
    color: slategray;
    width: 285px;
}

.links-home{
     list-style: none;
     border: none;
     background-color: black;
    outline: none;
        &:hover{
            background-color: rgb(64,64,64);
            outline: none;
        }

        &:target{
            background-color: transparent;
            outline: none;
        }
}

.btn-home{
    color: white;
    border: 0px; 
    box-sizing: none; 
    // width: 100%;

    background-color: transparent; 
      &:hover{
            cursor: pointer;
            outline: none;
        }

}

.newnote-btn{
    background-color:rgb(0,168,45);
    font-size: 13.5px;
    color: white;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 30px;
    margin-left: -20px;
    border-radius: 1px solid black;
    border: none;
    &:hover{
        background-color: rgb(0,143,38);
        cursor: pointer;

    }
    
}

.plus {
    font-size: 25px;
    margin-right: 10px;
    color: white;
    text-align: center;
    margin-left: -130px;
}

.inner-sidebar{
    height: 100vh;
    width: 220px;
    background-color: rgb(248,248,248);
}

.ind-note:hover{
    background-color: rgb(255,255,255);
    // border: 1px solid rgb(16,136,197);
}

.ind-note{
    // margin-top: -14.5px;
     height: 110px;
    width: 124.3%;
    margin-left: -38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;

}

.note-index{
    list-style: none;
}
.create-note-main{
    display: flex;
}

.note-count{
    color: grey;
    font-size: 11px;
}

.note-index-line{
    background-color:lightgray;
    height: 1px;
    border: none;
}

.date{
    font-size: 11px;
    color: grey;
    // margin: 0;
    
}

.note-index{
    margin-top: -7px;
}

.note-body{
    color: grey;
    margin-top: -15px
}

.note-index-container{
    padding-left: 12px;
}

.username{
    color:white;
    font-size: 14px;
}