*{
    font-family: 'Lato', sans-serif; ;
}

.navbar {
    background: FFFFF;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    /* max-width: 80%; */
    min-width: 800px;
}

.listed-items {
    flex-direction: row;
    list-style: none;
    display: flex;
    padding: 10px;

}

.nav-links {
    padding: 10px;
    text-decoration: black;
}

.nav-links-download {
    padding: 10px;
    border: green 1.5px solid;
    text-decoration: black;

}

.nav-links-logIn{
    padding:10px;
    text-decoration: black;
    

}

.logo-nav {
    padding-left: 10px;
    top: 50px;
}

.dropdown > i{
        justify-content: flex-end;

}
.dropdown{
    list-style: none;
    /* display:flex; */
    justify-content: flex-end;
    text-decoration: black;
    /* display: none; */

}
.dropdown-listed{
    list-style: none;
    display:flex;
    justify-content: flex-end;
    text-decoration: black;

}
.dropdown:hover{
    display: contents;

}
.dropdown{
    /* display: none; */
}

.nav-links-download-dropdown {
    padding: 10px;
    text-decoration: black;

}
.dropdown-list{
    text-decoration: black;
}
.dropdown-list-header {
    color: rgb(0,168,45);
    display: flex;
    text-decoration: black;
}

.dropdown-list-title {
    font-weight: 700;
    font-size: larger;
    text-decoration: black;
}

.logo-nav:first-child {
    color: rgb(0,168,45);

}
