
/* 
     navbar */



.navbar {
    background: FFFFF;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    min-width: 800px;
    webkitTransition: 'all .5s ease-in-out'
  mozTransition: 'all .5s ease-in-out'
  oTransition: 'all .5s ease-in-out'
  transition: all .5s ease-in-out
    
}



.listed-items {
    flex-direction: row;
    list-style: none;
    display: flex;
    padding: 10px;

}
/* .navlinks:last-child{
    padding-right:100px
} */
.nav-links {
    padding-right: 90px;
    text-decoration: black;
    color: black;
    font-size: 18px;
    font-weight: 900px;
}

.nav-links:hover{
    color: rgb(0,168,45);
   
}

.nav-links-signup {
    padding: 8px;
    border: rgb(0,168,45) 1.5px solid;
    text-decoration: none;
    color: rgb(0,168,45);
    font-size: 18px;
}

.nav-links-or{
    padding-left: 15px;  
    cursor: default;            
}

.nav-links-or:hover{
    text-decoration: none;
}

.nav-links-logIn{
    /* padding-left: 50px; */
    padding:10px;
    text-decoration: black;
     font-size: 18px;
     color: rgb(0,168,45);
}

.nav-links-logIn:hover{
    color: rgb(68, 221, 109);
}

.nav-links-download-dropdown {
    padding: 10px;
    text-decoration: black;

}

.nav-links-signup:hover{
    padding: 8px;
    border: rgb(145, 214, 164) 2px solid;
    text-decoration: none;
    color: rgb(66, 140, 86);
    font-size: 18px;
}

     /* dropdown */


.dropdown > i{
        justify-content: flex-end;

}
.dropdown{
    list-style: none;
    /* display:flex; */
    justify-content: flex-end;
    text-decoration: black;
    display: none;

}
.dropdown-listed{
    list-style: none;
    display:flex;
    justify-content: flex-end;
    text-decoration: black;

}
.dropdown:hover{
    display: contents;

}
.dropdown{
    /* display: none; */
}
.dropdown-list{
    text-decoration: black;
}
.dropdown-list-header {
    color: rgb(0,168,45);
    display: flex;
    text-decoration: black;
}

.dropdown-list-title {
    font-weight: 700;
    font-size: larger;
    text-decoration: black;
}

 