.homepage{
    background-color: #1A1A1A;
    height: 100vh;
    color: slategray;
    width: 360px;
    display: flex;
    flex-direction: column;
    // margin-top: -10px;
    margin-left: -8px;
}

.sidebar{
    width:360px;
    height: 100vh;
    z-index: 2;
    // bottom: -1px;
    right: -1px;
    display: inline-block;
    // padding-right: 20px;

}

.username{
    color:white;
    font-size: 14px;
}

.user-info{
    font-size: 20px;
}

.links-home{
    list-style: none;
    border: none;
    background-color: transparent;
    outline: none;
    justify-content: space-between;
    width: 300px;
    height: calc(100vh - 220px);
        &:hover{
            outline: none;
        }

        &:target{
            background-color: transparent;
            outline: none;
        }
}

.sidebar:last-child{
    bottom: 0
}

.newnote-btn{
    background-color:rgb(0,168,45);
    font-size: 13.5px;
    color: white;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 30px;
    height: 30px;
    margin-left: -20px;
    border-radius: 1px solid black;
    border: none;
    // text-align: left;
    &:hover{
        background-color: rgb(0,143,38);
        cursor: pointer;

    }
    
}

.btn-words{
    font-size: 15px;
    background-position: -100px;
    padding-left: 10px;
    margin-top: -18px;
    margin-left: 24px;
    color: white;
}

.plus {
    font-size: 25px;
    margin-right: 930px;
    color: white;
    position: relative;
    left: 40px;
}

.fa.fa-pagelines{
    padding-right: 9px;
    padding-left: 9px;
}

.logout-btn{
    background-color: #1A1A1A;
    border-style: none;
    outline: none;
    cursor: pointer;
    color: rgb(0,168,45);
}


.fa.fa-plus{
    color: white;
    padding-left: 15px;
    margin-top: 10px;
}

.switch-links{
    text-decoration: none;
    color: white;
    font-size: 14px;
    // height: 40px;
    padding:10px 2px 0 0px;
    text-align: left;
    display: flex;
    // margin-bottom: -10px;
    &>a{
        color: white;
        justify-content: space-around;
    }
    &:hover{
        background-color: #404040;
        width: 87%;
        // height: 15px;
    }
    &:active{
         background-color: #404040;
    }
}


.flex-side{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fab.fa-github{
    color: rgb(0,168,45);
    cursor: pointer
}

.fab.fa-linkedin-in{
    color: rgb(0,168,45);
    cursor: pointer
}

.fab.fa-angellist{
    color: rgb(0,168,45);
    cursor: pointer
}

.sidebar-icons{
    display: flex;
    justify-content: space-around;
}

.footer-sidebar{
    border: 1px solid rgb(144, 240, 170);
        opacity: 0.2;
    width:90%;
    display:flex;
    justify-content: center;
}

.sig{
    color: rgb(144, 240, 170);
    font-size: 12px;
    display:flex;
    justify-content: center;
}

.flex-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    text-align: center
}
.notebook-titles{
    list-style: none;
     &:active{
        text-decoration: none;
    }
     &:visited{
        text-decoration: none;
        color: white
    }
}

.notebook-titles > li{
    padding: 4px;
    font-size: 14px
    
}

.notebook-title-font > i{
    padding-right: 6px;
}


.notebook-title-font > a{

    color: white;
    opacity: 0.9;
    &:active{
        text-decoration: none;
        color: white
    }
    &:visited{
        text-decoration: none;
        color: white
    }
}

.switch-links.nb-caret >a{
    padding-left: 10px;
}