
.sidebar-extend{
    height: 100vh;
    z-index: 99;
    border: 1px solid black;
    width: 360px;
    position: absolute;
    background-color: white;
}

.testing{
    display: flex;
}

.tag-idx-line{
    margin-left: 5%;
    margin-right: 5%;
}

.tag-header{
    padding-left: 25px;
    font-size: 20px;
}

.above-line{
    display: flex;
    /* justify-content: flex-end; */
}

.icon-placeholder{
    padding-top: 25px;
    margin-left: 250px;
}

.tag-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px 30px 30px;
}

.tag-searchbar{
    width: 250px;
    justify-content: center;
    border: none;
    
}

.waiting{
    display: none
}

.results{
    /* background-color: pink */
}

.tag-modal{
    margin-left: 500px;
    height: 200px;
    width: 400px;
    /* border: 1px solid rgb(107, 233, 140, 0.5); */
    /* z-index: 100; */
    background-color: white;
    -webkit-box-shadow: 11px 20px 30px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow:    11px 20px 30px 0px rgba(50, 50, 50, 0.52);
    box-shadow:         11px 20px 30px 0px rgba(50, 50, 50, 0.52);
}

.tag-header{
    text-align:center;
    padding-top: 15px;
}

.tag-input{
    outline: none;
    border: none;
    border-bottom: 1px solid black
}

.tag-line{
    border: 1px solid rgba(40, 155, 71, 0.48);
}

.teste500{
    margin-right:1200px;
}

.header-buttons.tags > input{
    margin-left:60px;
}

.ind-tag{
    list-style: none;
}

.ind-tag:hover{
    background-color: rgb(247, 234, 234);
    cursor:pointer;
}

.alltaglist{
    list-style:none;
    padding-left:30px;
}