@keyframes slide{
    0%: {display: none}
    25% { width: 100px; position: absolute}
    50% { width: 200px;  position: absolute}
    75% {width: 300px; position: absolute;}
    /* 100% {width: 360px;} */
}

.sidebar-extend{
    height: 100vh;
    border: 1px solid black;
    width: 360px;
    position: absolute;
    background-color: white;
}

.testing{
    display: flex;
}

.tag-idx-line{
    margin-left: 5%;
    margin-right: 5%;
}

.tag-header{
    padding-left: 25px;
    font-size: 20px;
}

.above-line{
    display: flex;
    /* justify-content: flex-end; */
}

.icon-placeholder{
    padding-top: 25px;
    margin-left: 250px;
}

.tag-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px 30px 30px;
}

.tag-searchbar{
    width: 250px;
    justify-content: center;
    border: none;
    
}

.waiting{
    display: none
}

.results{
    background-color: pink
}