@keyframes slide{
    0% { left: 0px}
    25% { left: 100px}
    50% { left: 200px}
    75% { left: 300px}
    100% { left: 360px}
}

.sidebar-extend{
    height: 100vh;
    border: 1px solid black;
    width: 360px;
    position: absolute;
    background-color: white;
    animation-name: slide;
    animation-duration: 4s;

}

.testing{
    display: flex;
}

.tag-idx-line{
    margin-left: 5%;
    margin-right: 5%;
}

.tag-header{
    padding-left: 25px;
    font-size: 20px;
}

.above-line{
    display: flex;
    /* justify-content: flex-end; */
}

.icon-placeholder{
    padding-top: 25px;
    margin-left: 250px;
}

.tag-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px 30px 30px;
}

.tag-searchbar{
    width: 250px;
    justify-content: center;
    border: none;
    
}

.waiting{
    display: none
}